In [1]:
import gmaps
import pandas as pd
import requests
from config import google_key

In [2]:
gmaps.configure(api_key=google_key)

In [3]:
city_df=pd.read_csv('Data/cities.csv')

In [4]:
city_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [25]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_df[['Lat','Lng']]
# 2. Assign the weights variable to some values.

# Get the maximum temperature.
# Set min of 0 for max temp values (for heat map)
max_temp = city_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_df[["Lat", "Lng"]]
clouds = city_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_df[["Lat", "Lng"]]
wind = city_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_df.loc[(city_df["Max Temp"] <= max_temp) & (city_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Taoudenni,ML,2020-04-01 23:55:24,22.68,-3.98,79.50,15,51,5.99
8,8,Harper,LR,2020-04-01 23:55:24,4.38,-7.72,81.43,85,100,7.05
20,20,Areal,BR,2020-04-01 23:55:25,-22.23,-43.11,75.20,83,75,8.05
21,21,Mecca,SA,2020-04-01 23:55:25,21.43,39.83,75.47,55,0,2.37
26,26,Quatre Cocos,MU,2020-04-01 23:55:26,-20.21,57.76,77.00,94,75,2.24
...,...,...,...,...,...,...,...,...,...,...
526,526,Guaratinga,BR,2020-04-01 23:56:21,-16.57,-39.57,80.60,83,40,4.70
527,527,Porto Velho,BR,2020-04-01 23:52:20,-8.76,-63.90,78.80,94,40,1.57
533,533,Coari,BR,2020-04-01 23:56:22,-4.08,-63.14,76.06,94,82,1.28
535,535,Kenscoff,HT,2020-04-01 23:56:22,18.45,-72.29,82.40,65,24,9.17
538,538,Saint-Leu,RE,2020-04-01 23:56:23,-21.15,55.28,75.20,73,20,8.05

In [11]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Taoudenni,ML,2020-04-01 23:55:24,22.68,-3.98,79.50,15,51,5.99
8,8,Harper,LR,2020-04-01 23:55:24,4.38,-7.72,81.43,85,100,7.05
20,20,Areal,BR,2020-04-01 23:55:25,-22.23,-43.11,75.20,83,75,8.05
21,21,Mecca,SA,2020-04-01 23:55:25,21.43,39.83,75.47,55,0,2.37
26,26,Quatre Cocos,MU,2020-04-01 23:55:26,-20.21,57.76,77.00,94,75,2.24
...,...,...,...,...,...,...,...,...,...,...
526,526,Guaratinga,BR,2020-04-01 23:56:21,-16.57,-39.57,80.60,83,40,4.70
527,527,Porto Velho,BR,2020-04-01 23:52:20,-8.76,-63.90,78.80,94,40,1.57
533,533,Coari,BR,2020-04-01 23:56:22,-4.08,-63.14,76.06,94,82,1.28
535,535,Kenscoff,HT,2020-04-01 23:56:22,18.45,-72.29,82.40,65,24,9.17
538,538,Saint-Leu,RE,2020-04-01 23:56:23,-21.15,55.28,75.20,73,20,8.05

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat    Lng Hotel Name
7        Taoudenni      ML     79.50  22.68  -3.98
8           Harper      LR     81.43   4.38  -7.72
20           Areal      BR     75.20 -22.23 -43.11
21           Mecca      SA     75.47  21.43  39.83
26    Quatre Cocos      MU     77.00 -20.21  57.76
28    Rondonopolis      BR     76.73 -16.47 -54.64
30       Sinnamary      GF     78.58   5.38 -52.95
31         Salalah      OM     80.60  17.02  54.09
36           Arlit      NE     83.93  18.74   7.39
39  Puerto Carreno      CO     87.80   6.19 -67.49

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": google_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [14]:
len(hotels['results'])

20

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print ('Found')
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
hotel_df['Hotel Name'].value_counts()

                                           16
Cititel Penang                              2
Hotel Fairmont Makkah Clock Royal Tower     1
Hotel Edi                                   1
EPIC SANA Luanda                            1
                                           ..
Grand Star Guest House                      1
Restaurant Greedy Coco Lodge Majunga        1
Hotel Mpampa                                1
Pousada Porto Praia                         1
Chik-Chik Namibe                            1
Name: Hotel Name, Length: 145, dtype: int64